@use '../src/config/variables.scss';
@use '../src/config/reset.scss';

html{
    font-size: 62.5%;
}

body{
    background-image: variables.$homebgMobile;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 600px){
    body{
        background-image: variables.$homebgTablet;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 992px) {
    body{
        background-image: variables.$homebgDesktop;
        background-size: cover;
        background-repeat: no-repeat;
    }
}